{
xiachufang =     {
"@status" = ok;
recipe =         (
{
"create_time" = "2015-03-30 14:50:38";
"friendly_create_time" = "303\U5929\U524d";
id = 100470502;
ident = "aca6ac107ea811e583b2b82a72e00100.jpg";
ingredient =                 (
{
name = "\U767d\U7802\U7cd6";
},
{
name = "\U6c34";
},
{
name = "\U65b0\U9c9c\U67e0\U6aac\U6c41";
}
);
name = "\U79c1\U623f\U6708\U997c\U4e4b\U8f6c\U5316\U7cd6\U6d46";
photo = "http://s2.cdn.xiachufang.com/aca6ac107ea811e583b2b82a72e00100.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo140 = "http://s2.cdn.xiachufang.com/aca6ac107ea811e583b2b82a72e00100.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo280 = "http://s2.cdn.xiachufang.com/aca6ac107ea811e583b2b82a72e00100.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
photo526 = "http://s2.cdn.xiachufang.com/aca6ac107ea811e583b2b82a72e00100.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo80 = "http://s2.cdn.xiachufang.com/aca6ac107ea811e583b2b82a72e00100.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo90 = "http://s2.cdn.xiachufang.com/aca6ac107ea811e583b2b82a72e00100.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
score = "";
stats =                 {
"n_collects" = 11;
"n_comments" = 0;
"n_cooked" = 0;
"n_cooked_last_week" = 0;
"n_dishes" = 0;
"n_pv" = 404;
};
thumb = "http://s2.cdn.xiachufang.com/aca6ac107ea811e583b2b82a72e00100.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
},
{
"create_time" = "2015-12-09 20:35:53";
"friendly_create_time" = "49\U5929\U524d";
id = 100607956;
ident = "5e218ee69e7111e5b05e6b5a1c848587.jpg";
ingredient =                 (
{
name = "\U666e\U901a\U9762\U7c89";
},
{
name = "\U9175\U6bcd";
},
{
name = "\U86cb\U9ec4";
},
{
name = "\U829d\U9ebb";
}
);
name = "\U9999\U6389\U7259\U7684\U5343\U5c42\U997c";
photo = "http://s2.cdn.xiachufang.com/5e218ee69e7111e5b05e6b5a1c848587.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo140 = "http://s2.cdn.xiachufang.com/5e218ee69e7111e5b05e6b5a1c848587.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo280 = "http://s2.cdn.xiachufang.com/5e218ee69e7111e5b05e6b5a1c848587.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
photo526 = "http://s2.cdn.xiachufang.com/5e218ee69e7111e5b05e6b5a1c848587.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo80 = "http://s2.cdn.xiachufang.com/5e218ee69e7111e5b05e6b5a1c848587.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo90 = "http://s2.cdn.xiachufang.com/5e218ee69e7111e5b05e6b5a1c848587.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
score = "";
stats =                 {
"n_collects" = 11;
"n_comments" = 0;
"n_cooked" = 0;
"n_cooked_last_week" = 0;
"n_dishes" = 0;
"n_pv" = 138;
};
thumb = "http://s2.cdn.xiachufang.com/5e218ee69e7111e5b05e6b5a1c848587.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
},
{
"create_time" = "2015-02-18 14:28:29";
"friendly_create_time" = "343\U5929\U524d";
id = 100451562;
ident = "cc1e1f827e9811e598fc2b17a7c0d3d2.jpg";
ingredient =                 (
{
name = "\U8349\U8393";
},
{
name = "\U51b0\U7cd6";
},
{
name = "\U6c34";
},
{
name = "\U767d\U841d\U535c";
}
);
name = "\U7cd6\U846b\U82a6\U53d1\U8d22\U6811\Uff01\U7ea2\U7ea2\U706b\U706b\U8fc7\U65b0\U5e74\Uff01";
photo = "http://s2.cdn.xiachufang.com/cc1e1f827e9811e598fc2b17a7c0d3d2.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo140 = "http://s2.cdn.xiachufang.com/cc1e1f827e9811e598fc2b17a7c0d3d2.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo280 = "http://s2.cdn.xiachufang.com/cc1e1f827e9811e598fc2b17a7c0d3d2.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
photo526 = "http://s2.cdn.xiachufang.com/cc1e1f827e9811e598fc2b17a7c0d3d2.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo80 = "http://s2.cdn.xiachufang.com/cc1e1f827e9811e598fc2b17a7c0d3d2.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo90 = "http://s2.cdn.xiachufang.com/cc1e1f827e9811e598fc2b17a7c0d3d2.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
score = "";
stats =                 {
"n_collects" = 11;
"n_comments" = 0;
"n_cooked" = 0;
"n_cooked_last_week" = 0;
"n_dishes" = 0;
"n_pv" = 295;
};
thumb = "http://s2.cdn.xiachufang.com/cc1e1f827e9811e598fc2b17a7c0d3d2.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
},
{
"create_time" = "2015-04-22 20:52:59";
"friendly_create_time" = "280\U5929\U524d";
id = 100483146;
ident = "8b5ff1b27eb511e5beefb82a72e00100.jpg";
ingredient =                 (
{
name = "\U9c8d\U9c7c";
},
{
name = "\U7c73\U996d";
},
{
name = "\U6599\U9152";
},
{
name = "\U7cd6";
},
{
name = "\U8471\U6bb5";
},
{
name = "\U9c8d\U9c7c\U6cb4";
},
{
name = "\U6dc0\U7c89";
}
);
name = "\U9c8d\U9c7c\U635e\U996d";
photo = "http://s2.cdn.xiachufang.com/8b5ff1b27eb511e5beefb82a72e00100.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo140 = "http://s2.cdn.xiachufang.com/8b5ff1b27eb511e5beefb82a72e00100.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo280 = "http://s2.cdn.xiachufang.com/8b5ff1b27eb511e5beefb82a72e00100.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
photo526 = "http://s2.cdn.xiachufang.com/8b5ff1b27eb511e5beefb82a72e00100.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo80 = "http://s2.cdn.xiachufang.com/8b5ff1b27eb511e5beefb82a72e00100.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo90 = "http://s2.cdn.xiachufang.com/8b5ff1b27eb511e5beefb82a72e00100.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
score = "";
stats =                 {
"n_collects" = 11;
"n_comments" = 0;
"n_cooked" = 1;
"n_cooked_last_week" = 0;
"n_dishes" = 4;
"n_pv" = 294;
};
thumb = "http://s2.cdn.xiachufang.com/8b5ff1b27eb511e5beefb82a72e00100.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
},
{
"create_time" = "2011-12-17 11:14:50";
"friendly_create_time" = "4\U5e74\U524d";
id = 160444;
ident = "a37d0ee37d2d11e58b4273f9e4420c1f.jpg";
ingredient =                 (
{
name = "\U5b89\U4f73\U65e0\U76d0\U9ec4\U6cb9";
},
{
name = "\U4f4e\U7b4b\U9762\U7c89";
},
{
name = "\U52a8\U7269\U6027\U6de1\U5976\U6cb9";
},
{
name = "\U8513\U8d8a\U8393\U5e72";
},
{
name = "\U7ec6\U7802\U7cd6";
},
{
name = "\U5168\U86cb";
},
{
name = "\U76d0";
},
{
name = "\U6ce1\U6253\U7c89";
},
{
name = "\U9ec4\U6cb9";
},
{
name = "\U7cd6\U7c89";
},
{
name = "\U9999\U8349\U7cbe\U534e";
}
);
name = "\U8513\U8d8a\U8393\U78c5\U86cb\U7cd5";
photo = "http://s2.cdn.xiachufang.com/a37d0ee37d2d11e58b4273f9e4420c1f.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo140 = "http://s2.cdn.xiachufang.com/a37d0ee37d2d11e58b4273f9e4420c1f.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo280 = "http://s2.cdn.xiachufang.com/a37d0ee37d2d11e58b4273f9e4420c1f.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
photo526 = "http://s2.cdn.xiachufang.com/a37d0ee37d2d11e58b4273f9e4420c1f.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo80 = "http://s2.cdn.xiachufang.com/a37d0ee37d2d11e58b4273f9e4420c1f.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo90 = "http://s2.cdn.xiachufang.com/a37d0ee37d2d11e58b4273f9e4420c1f.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
score = "";
stats =                 {
"n_collects" = 12;
"n_comments" = 0;
"n_cooked" = 1;
"n_cooked_last_week" = 0;
"n_dishes" = 1;
"n_pv" = 1144;
};
thumb = "http://s2.cdn.xiachufang.com/a37d0ee37d2d11e58b4273f9e4420c1f.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
},
{
"create_time" = "2015-05-29 12:29:45";
"friendly_create_time" = "243\U5929\U524d";
id = 100501523;
ident = "09e4ea227ec711e5a5cbb82a72e00100.jpg";
ingredient =                 (
{
name = "\U9ad8\U7b4b\U9762\U7c89";
},
{
name = "\U4f4e\U7b4b\U9762\U7c89";
},
{
name = "\U6de1\U5976\U6cb9";
},
{
name = "\U6c34";
},
{
name = "\U9e21\U86cb";
},
{
name = "\U767d\U7802\U7cd6";
},
{
name = "\U76d0";
},
{
name = "\U9175\U6bcd";
},
{
name = "\U7d2b\U85af\U9985\U6216\U8c46\U6c99\U9985";
},
{
name = "\U9ed1\U829d\U9ebb";
}
);
name = "\U6de1\U5976\U6cb9\U7d2b\U85af\U5c0f\U9910\U5305\Uff08\U6d88\U8017\U6de1\U5976\U6cb9\U7684\U597d\U529e\U6cd5\Uff09";
photo = "http://s2.cdn.xiachufang.com/09e4ea227ec711e5a5cbb82a72e00100.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo140 = "http://s2.cdn.xiachufang.com/09e4ea227ec711e5a5cbb82a72e00100.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo280 = "http://s2.cdn.xiachufang.com/09e4ea227ec711e5a5cbb82a72e00100.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
photo526 = "http://s2.cdn.xiachufang.com/09e4ea227ec711e5a5cbb82a72e00100.jpg?imageView2/2/w/620/interlace/1/q/90/format/jpg/.jpg";
photo80 = "http://s2.cdn.xiachufang.com/09e4ea227ec711e5a5cbb82a72e00100.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
photo90 = "http://s2.cdn.xiachufang.com/09e4ea227ec711e5a5cbb82a72e00100.jpg?imageView2/1/w/280/h/216/interlace/1/q/90/format/jpg/.jpg";
score = "";
stats =                 {
"n_collects" = 12;
"n_comments" = 0;
"n_cooked" = 0;
"n_cooked_last_week" = 0;
"n_dishes" = 0;
"n_pv" = 146;
};
thumb = "http://s2.cdn.xiachufang.com/09e4ea227ec711e5a5cbb82a72e00100.jpg?imageView2/1/w/140/h/106/interlace/1/q/90/format/jpg/.jpg";
}
);
};
}

